{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "target": "es2022",
    "paths": {
      "@config/*": ["./src/config/*"],
      "@middleware/*": ["./src/middleware/*"],
      "@models/*": ["./src/models/*"],
      "@routes/*": ["./src/routes/*"],
      "@controllers/*": ["./src/controllers/*"],
      "@services/*": ["./src/services/*"],
      "@utils/*": ["./src/utils/*"],
      "@types/*": ["./src/types/*"],
      "@desperados/shared": ["../shared"]
    },
    "baseUrl": "./src"
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
